name: Release Drafter
on:
  workflow_dispatch:
  push:
  release:
jobs:
  update_release_draft:
    runs-on: ubuntu-22.04
    steps:
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6
        env:
          # This token is generated automatically by default in GitHub Actions: no need to create it manually
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
